/* popup background */
.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* popup box */
.popup-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  font-family: Arial;
}

.popup-box button {
  margin-top: 15px;
  padding: 8px 15px;
  background: #0A2A66;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
