/* nav */
.navbar {
  width: 100%;
  padding: 15px;
  background: #0A2A66; /* Dark Blue */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #ddd;
}

.nav-right button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background: #4CAEFF; /* Light Blue */
  color: white;
  border-radius: 6px;
  font-size: 14px;
}

.nav-right button:hover {
  background: #3d97e0;
}

.card-text .bi-bookmark-fill::before {
  content:"" !important;
}

/* popup sign in */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.popup h2 {
  margin-bottom: 15px;
  color: #0A2A66;
}

.popup input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.popup button[type="submit"] {
  background-color: #4CAEFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 95%;
  margin-top: 10px;
}

.popup button[type="submit"]:hover {
  background-color: #3d97e0;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #666;
}



/* trainer cards */
.card-horizontal {
  position: relative;
  display: flex;
  width: 500px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  background: white;
}

.card-horizontal img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.card-horizontal .card-content {
  padding: 15px;
  flex: 1;
  position: relative; /* مهم علشان البوك مارك يثبت فوق يمين */
}


.card-horizontal h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #0A2A66;
}

.card-horizontal p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px;
}

.card-horizontal button {
  padding: 8px 15px;
  border: none;
  background-color: #4CAEFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.card-horizontal button:hover {
  background-color: #3d97e0;
}




.card-horizontal {
  position: relative;
}

