/* popup sign in */
.overlay {
  display: none; /* مخفية بالبداية */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.popup h2 {
  margin-bottom: 15px;
  color: #333;
}

.popup input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.popup button[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 95%;
  margin-top: 10px;
}

.popup button[type="submit"]:hover {
  background-color: #0056b3;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #666;
}

.closeBtn:hover {
  color: #000;
}

/* تأثير الظهور */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}





.bookmark-icon {
  font-size: 20px;
  cursor: pointer;
  color: #444;
}

.bookmark-icon.saved {
  color: #ff9800; /* كامل اللون البرتقالي */
}




















.card-horizontal {
  position: relative; /* ضروري للبوكمارك */
  display: flex;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.card-horizontal img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.card-horizontal .card-content {
  padding: 15px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-horizontal h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.card-horizontal p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px;
}

.card-horizontal button {
  padding: 8px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;  
}

.card-horizontal button:hover {
  background-color: #0056b3;
}

.bookmark-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #444;
}

.bookmark-icon.saved {
  color: #ff9800;
}


/* seach bar */
.search-container {
  text-align: center;
  margin: 20px;
}

#searchInput {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

#searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}
